<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="admin/header::header-fragment"></header>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- 引入页面头header-fragment -->
    <div th:replace="admin/header::header-nav"></div>
    <!-- 引入工具栏sidebar-fragment -->
    <div th:replace="admin/sidebar::sidebar-fragment(${path})"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper mt-14">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
            </div><!-- /.container-fluid -->
        </div>
        <!-- Main content -->
        <div class="content">
            <div class="container mx-auto p-4">
                <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
                    <!-- Site Information -->
                    <div class="bg-white shadow-md rounded-lg flex flex-col">
                        <div class="bg-blue-600 text-white px-4 py-2 rounded-t-lg">
                            <h3 class="text-lg font-semibold">站点信息</h3>
                        </div>
                        <div class="p-4 flex-1">
                            <form id="websiteForm">
                                <div class="mb-4">
                                    <label class="block text-gray-700">站点名称</label>
                                    <input type="text" id="websiteName" name="websiteName"
                                           class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
                                           placeholder="站点名称" th:value="${configurations.get('websiteName')}">
                                </div>
                                <div class="mb-4">
                                    <label class="block text-gray-700">站点描述</label>
                                    <input type="text" id="websiteDescription" name="websiteDescription"
                                           class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
                                           placeholder="站点描述" th:value="${configurations.get('websiteDescription')}">
                                </div>
                                <div class="mb-4">
                                    <label class="block text-gray-700">站点Logo</label>
                                    <input type="text" id="websiteLogo" name="websiteLogo"
                                           class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
                                           placeholder="站点Logo" th:value="${configurations.get('websiteLogo')}">
                                </div>
                                <div class="mb-4">
                                    <label class="block text-gray-700">favicon.ico</label>
                                    <input type="text" id="websiteIcon" name="websiteIcon"
                                           class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
                                           placeholder="favicon.ico" th:value="${configurations.get('websiteIcon')}">
                                </div>
                            </form>
                        </div>
                        <div class=" p-4 flex justify-end">
                            <button type="button" id="updateWebsiteButton"
                                    class="bg-red-600 text-white px-4 py-2 rounded-lg shadow hover:bg-red-700">确认修改
                            </button>
                        </div>
                    </div>

                    <!-- Personal Information -->
                    <div class="bg-white shadow-md rounded-lg flex flex-col">
                        <div class="bg-blue-600 text-white px-4 py-2 rounded-t-lg">
                            <h3 class="text-lg font-semibold">个人信息</h3>
                        </div>
                        <div class="p-4 flex-1">
                            <form id="userInfoForm">
                                <div class="mb-4">
                                    <label class="block text-gray-700">个人头像</label>
                                    <input type="text" id="yourAvatar" name="yourAvatar"
                                           class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
                                           placeholder="个人头像" th:value="${configurations.get('yourAvatar')}">
                                </div>
                                <div class="mb-4">
                                    <label class="block text-gray-700">个人名称</label>
                                    <input type="text" id="yourName" name="yourName"
                                           class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
                                           placeholder="个人名称" th:value="${configurations.get('yourName')}">
                                </div>
                                <div class="mb-4">
                                    <label class="block text-gray-700">个人邮箱</label>
                                    <input type="email" id="yourEmail" name="yourEmail"
                                           class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
                                           placeholder="个人邮箱" th:value="${configurations.get('yourEmail')}">
                                </div>
                            </form>
                        </div>
                        <div class=" p-4 flex justify-end">
                            <button type="button" id="updateUserInfoButton"
                                    class="bg-red-600 text-white px-4 py-2 rounded-lg shadow hover:bg-red-700">确认修改
                            </button>
                        </div>
                    </div>

                    <!-- Footer Settings -->
                    <div class="bg-white shadow-md rounded-lg flex flex-col">
                        <div class="bg-blue-600 text-white px-4 py-2 rounded-t-lg">
                            <h3 class="text-lg font-semibold">底部设置</h3>
                        </div>
                        <div class="p-4 flex-1">
                            <form id="footerForm">
                                <div class="mb-4">
                                    <label class="block text-gray-700">底部About</label>
                                    <input type="text" id="footerAbout" name="footerAbout"
                                           class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
                                           placeholder="About" th:value="${configurations.get('footerAbout')}">
                                </div>
                                <div class="mb-4">
                                    <label class="block text-gray-700">底部备案号</label>
                                    <input type="text" id="footerICP" name="footerICP"
                                           class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
                                           placeholder="备案号" th:value="${configurations.get('footerICP')}">
                                </div>
                                <div class="mb-4">
                                    <label class="block text-gray-700">底部Copy Right</label>
                                    <input type="text" id="footerCopyRight" name="footerCopyRight"
                                           class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
                                           placeholder="Copy Right" th:value="${configurations.get('footerCopyRight')}">
                                </div>
                                <div class="mb-4">
                                    <label class="block text-gray-700">底部Powered By</label>
                                    <input type="text" id="footerPoweredBy" name="footerPoweredBy"
                                           class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
                                           placeholder="Powered By" th:value="${configurations.get('footerPoweredBy')}">
                                </div>
                                <div class="mb-4">
                                    <label class="block text-gray-700">底部Powered By URL</label>
                                    <input type="text" id="footerPoweredByURL" name="footerPoweredByURL"
                                           class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
                                           placeholder="Powered By URL" th:value="${configurations.get('footerPoweredByURL')}">
                                </div>
                            </form>
                        </div>
                        <div class=" p-4 flex justify-end">
                            <button type="button" id="updateFooterButton"
                                    class="bg-red-600 text-white px-4 py-2 rounded-lg shadow hover:bg-red-700">确认修改
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- 引入页脚footer-fragment -->
<!--    <div th:replace="admin/footer::footer-fragment"></div>-->
</div>
<!-- jQuery -->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<!-- jQuery UI 1.11.4 -->
<script th:src="@{/admin/plugins/jQueryUI/jquery-ui.min.js}"></script>
<!-- Bootstrap 4 -->
<script th:src="@{/admin/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/admin/dist/js/adminlte.min.js}"></script>
<!-- sweetalert -->
<script th:src="@{/admin/plugins/sweetalert/sweetalert.min.js}"></script>
<script th:src="@{/admin/dist/js/configuration.js}"></script>
</body>
</html>
