<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="blog-list-fragment" class="lg:w-2/3 w-full mx-auto">
    <main class="space-y-8">
        <div>
            <th:block th:if="${null != blogPageResult}">
                <th:block th:each="blog,iterStat : ${blogPageResult.list}">
                    <article class="bg-white shadow-md rounded-lg overflow-hidden mt-4">
                        <div class="p-6">
                            <div class="flex items-center justify-between mb-4">
                                <div class="flex items-center">
                                    <img th:src="@{${configurations.get('yourAvatar')}}" alt="Avatar" class="w-10 h-10 rounded-full">
                                    <div class="ml-4">
                                        <a href="javascript:;" th:text="${configurations.get('yourName')}" class="font-bold text-gray-700 hover:text-blue-500"></a>
                                        <div class="text-sm text-gray-500">
                                            <span>in</span>
                                            <a th:href="@{'/category/' + ${blog.blogCategoryName}}" class="text-blue-500" th:utext="${blog.blogCategoryName}"></a>
                                        </div>
                                    </div>
                                </div>
                                <span class="text-sm text-gray-500 hidden lg:block" th:text="${#dates.format(blog.createTime, 'yyyy-MM-dd')}"></span>
                            </div>
                            <h2 class="text-2xl font-bold mb-2">
                                <a th:href="@{'/blog/' + ${blog.blogId}}" th:text="${blog.blogTitle}" class="text-gray-900 hover:text-blue-500"></a>
                            </h2>
                            <div class="flex flex-col lg:flex-row mb-4 overflow-hidden">
                                <a th:href="@{'/blog/' + ${blog.blogId}}" class="flex-shrink-0">
                                    <img th:src="@{${blog.blogCoverImage}}" alt="Cover Image" class="w-full lg:w-64 h-32 object-cover rounded-lg">
                                </a>
                                <div class="ml-0 mt-2 lg:mt-0 lg:ml-4 flex-grow max-w-full">
                                    <p th:text="${blog.blogSnippet}" class="text-gray-700 text-sm line-clamp-4 overflow-hidden" style="word-break: break-word; overflow-wrap: break-word;"></p>
                                </div>
                            </div>

                            <div class="flex justify-between items-center">
                                <span class="text-sm text-gray-500 lg:hidden" th:text="${#dates.format(blog.createTime, 'yyyy-MM-dd')}"></span>
                            </div>
                        </div>
                    </article>


                </th:block>
            </th:block>

            <th:block th:if="${null != blogPageResult}">
                <ul class="flex justify-center space-x-2 mt-8">
                    <li th:class="${blogPageResult.currPage==1}?'opacity-50 cursor-not-allowed' : ''">
                        <a th:href="@{${blogPageResult.currPage==1}?'##':'/page/' + ${blogPageResult.currPage-1}}"
                           class="px-3 py-1 rounded bg-blue-500 text-white">&laquo;</a>
                    </li>
                    <th:block th:each="i : ${#numbers.sequence(blogPageResult.currPage - 3, blogPageResult.currPage + 3)}">
                        <li th:if="${i >= 1 && i <= blogPageResult.totalPage}">
                            <a th:href="@{'/page/' + ${i}}"
                               th:text="${i}"
                               th:class="${i == blogPageResult.currPage} ? 'px-3 py-1 rounded bg-blue-500 text-white' : 'px-3 py-1 rounded bg-white text-gray-700 hover:bg-blue-500 hover:text-white'"></a>
                        </li>
                    </th:block>
                    <li th:class="${blogPageResult.currPage == blogPageResult.totalPage} ? 'opacity-50 cursor-not-allowed' : ''">
                        <a th:href="@{${blogPageResult.currPage == blogPageResult.totalPage} ? '##' : '/page/' + ${blogPageResult.currPage+1}}"
                           class="px-3 py-1 rounded bg-blue-500 text-white">&raquo;</a>
                    </li>
                </ul>
            </th:block>
        </div>
    </main>
</div>

</body>
</html>