<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<footer class="text-gray-600 py-4 text-sm mt-16" th:fragment="footer-fragment">
    <div class="container mx-auto text-center space-y-2">
        <p>
            &copy;
            <a href="#" th:text="${configurations.get('footerAbout')}" class="text-blue-400 hover:text-blue-600">your single blog</a>
            &nbsp; • &nbsp;
            Powered by
            <a href="https://github.com/CoWizardry" target="_blank" th:text="${configurations.get('footerCopyRight')}" class="text-blue-400 hover:text-blue-600">2023 薛定谔的喵</a>
        </p>
        <p>
            ICP
            <a href="https://beian.miit.gov.cn" th:text="${configurations.get('footerICP')}" class="text-blue-400 hover:text-blue-600">粤ICP备 xxxxxx-x号</a>
            &nbsp;
            <span class="text-red-500">&heartsuit;</span>
        </p>
    </div>
</footer>

</body>
</html>
