<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="blog/amaze/header::head-fragment"></head>
<body class="bg-gray-100 text-gray-900">
<div th:replace="blog/amaze/header::nav-fragment"></div>
<div th:replace="blog/amaze/header::header-fragment"></div>
<div class="max-w-screen-xl mx-auto px-4 flex flex-row">
    <div th:replace="blog/amaze/blog-list::blog-list-fragment"></div>
    <div th:replace="blog/amaze/side::side-fragment"></div>
</div>
<footer th:replace="blog/amaze/footer::footer-fragment"></footer>
</body>
<script th:src="@{/blog/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/blog/plugins/search/search.js}"></script>
</html>


<!--<script>-->
<!--    $(document).ready(function() {-->
<!--        var navbarHeight = $('nav').outerHeight();-->
<!--        var sidebar = $('#sidebar');-->
<!--        var sidebarTop = sidebar.offset().top;-->

<!--        $(window).scroll(function() {-->
<!--            var scrollTop = $(window).scrollTop();-->

<!--            if (scrollTop >= sidebarTop - navbarHeight) {-->
<!--                sidebar.addClass('fixed top-14');-->
<!--            } else {-->
<!--                sidebar.removeClass('fixed top-14');-->
<!--            }-->
<!--        });-->
<!--    });-->
<!--</script>-->